ul{
    list-style: none;
    padding-left: 0;
}
#sidebar{
    width: 35px;
    background-color: #e1e1e1;
    position: fixed;
    padding-top: 200px;
    min-height: 100%;
}
.item{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    text-align: center;
    margin-top: 5px;
}
#closerBar{
    position: absolute;
    bottom: 30px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
.nav-content{
    width: 200px;
    position: fixed;
    min-height: 100%;
}